
body {
    text-align: center;
    background-color: rgb(235, 245, 192); 
    color: #e65100; 
    font-family: 'Comic Sans MS', cursive, sans-serif; 
}

#board {
    background-color: #ffeb3b; 
    border-bottom: 20px solid #ff6f00; 
}

button {
    width: 160px;
    height: 45px;
    font-size: 20px; 
    font-weight: 600;
    margin-top: 20px;
    background-color: #f44336; 
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    border: none;
    border-radius: 10px; 
    color: white; 
}

button:hover {
    background-color: hsl(56, 100%, 61%); 
    color: hsl(0, 0%, 3%); 
}


@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

